.content-form {
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}
input {
  margin: 25px;
  height: 28px;
  border-radius: 4px;
}
.content-form > button {
  width: 90%;
}
